.timer_count{
    background: var(--primary-color);
    height: 300px;
    img{
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    .buy_btn{
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 5px;
        font-size: 1rem;
        margin-top: 40px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        transition:  .3s;
        a{
            color: var(--primary-color);
            width: 100%;
            padding: 8px 40px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
        &:is(:hover,:focus){
            color: var(--primary-color);
            transform: scale(1.05);
        }
    }
    .store_btn{
        background: #fff;
        color: var(--primary-color);
    }
}